version: "3.5"
services:
  scalardb-server:
    image: ghcr.io/scalar-labs/scalardb-server:3.9.0
    container_name: "scalardb-server-1"
    volumes:
      - ./database.properties:/scalardb/server/database.properties.tmpl
    ports:
      - "60051:60051" # scalardb-server port
    networks:
      - scalar-network
networks:
  scalar-network:
    name: scalar-network
