services:
  mysql:
    image: mysql:8.1
    container_name: "mysql-1"
    environment:
      MYSQL_ROOT_PASSWORD: mysql
    ports:
      - "3306:3306"
  postgres:
    image: postgres:15
    container_name: "postgres-1"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
  oracle:
    image: container-registry.oracle.com/database/free:23.4.0.0
    container_name: "oracle-1"
    environment:
      ORACLE_PWD: Oracle
    ports:
      - "1521:1521"
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: "sqlserver-1"
    environment:
      MSSQL_PID: "Express"
      SA_PASSWORD: "SqlServer22"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
  dynamodb:
    image: amazon/dynamodb-local:2.5.2
    container_name: "dynamodb-1"
    ports:
      - "8000:8000"
  cassandra:
    image: cassandra:3.11
    container_name: "cassandra-1"
    ports:
      - "9042:9042"
  db2:
    image: icr.io/db2_community/db2:12.1.1.0
    container_name: "db2-1"
    environment:
      - DB2INSTANCE=db2inst1
      - DB2INST1_PASSWORD=db2inst1
      - DBNAME=sample
      - LICENSE=accept
    ports:
      - "50000:50000"
    privileged: true
  blobstorage:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: "blobstorage-1"
    ports:
      - "10000:10000"
    environment:
      AZURITE_ACCOUNTS: "test:test"
  blobstorage-container-creator:
    image: mcr.microsoft.com/azure-cli
    container_name: "blobstorage-container-creator"
    restart: "no"
    depends_on:
      - blobstorage
    command: >
      /bin/sh -c "az storage container create --name 'test-container' --connection-string 'DefaultEndpointsProtocol=http;AccountName=test;AccountKey=test;BlobEndpoint=http://blobstorage-1:10000/test;'"

  alloydb:
    image: google/alloydbomni:16
    container_name: "alloydb-1"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_INITDB_ARGS: "--icu-locale=en-US-u-va-posix"

  scalardb-cluster-node:
    image: ghcr.io/scalar-labs/scalardb-cluster-node-byol-premium:3.17.0
    container_name: "scalardb-cluster-node"
    ports:
      - "60053:60053"
      - "8080:8080"
      - "9080:9080"
    volumes:
      - ./scalardb-cluster-node.properties:/scalardb-cluster/node/scalardb-cluster-node.properties
